<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basiccalc.slidenerdtut" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Skejewels"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"

            android:label="@string/title_activity_sub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Skejewels" />
        </activity>
        <activity
            android:name="com.skejewels.skejewels.IndividualDayActivity"
            android:label="@string/title_individual_day_look"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.AddEventActivity"
            android:label="@string/title_individual_day_look"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.FirstClockActivity"
            android:label="@string/title_activity_first_clock"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.SecondClockActivity"
            android:label="@string/title_activity_second_clock"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.RepeatsAndPrivacy"
            android:label="@string/title_activity_second_clock"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.IndividualEventActivity"
            android:label="@string/title_individual_day_look"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.IndividualDayAllComments"
            android:label="@string/acivity_individual_day_comments"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.SignIn"
            android:label="@string/activity_sign_in"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.SignUp"
            android:label="@string/activity_sign_up"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.EditEvent"
            android:label="@string/activity_sign_up"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.EditEventFirstClock"
            android:label="@string/activity_sign_up"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.EditEventSecondClock"
            android:label="@string/activity_sign_up"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.EditRepeatsAndPrivacy"
            android:label="@string/activity_sign_up"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.Search"
            android:label="@string/activity_search"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.FriendsCalendar"
            android:label="@string/activity_friend_calendar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.FriendsIndividualDayActivity"
            android:label="@string/activity_friend_individual_day"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.FriendsIndividualEvent"
            android:label="@string/activity_friend_individual_event"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.FriendRequests"
            android:label="@string/activity_friend_requests"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.skejewels.skejewels.Notifications"
            android:label="@string/activity_notifications"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>